.navbar{
  background-color: #30363e;
  background-image: url('/assets/nav-bg.png');
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: Roboto Slab,serif;
  min-height: 75px;
  padding-bottom: 22px;
  padding-top: 22px;
  position: fixed;
  top: 0;
  width: 100%;
  a{
    color: #fff !important;
  }
}

.main-body{
  margin-top: 140px;
}

.albums-contaniner{
  margin-bottom: 20px;  
}

.preview_al_image{
  width: 50px;
  height: auto;
}